# Rutinas para generación de insumos de límites flexibles y otros - Humedad relativa

> Elaborado por Paola Álvarez, profesional contratista IDEAM, contrato 196 de 2024. Comentarios o inquietudes, remitir a *palvarez@ideam.gov.co*

**Librerías**

In [1]:
import pandas as pd
import numpy as np
import datetime
import statistics
import gc
import glob
import os
import csv
import re
import xarray as xr
import matplotlib.pyplot as plt
from openpyxl import Workbook
from openpyxl.chart import ScatterChart, Series, Reference
from openpyxl.utils.dataframe import dataframe_to_rows
#from openpyxl.chart.layout import Layout, ManualLayout
from collections import deque
from datetime import timedelta
from scipy import stats

____

### Se exportan coordenadas de HR

In [2]:
try:

    'hola'+ 5

except ValueError:

    print('Error 1')

except TypeError:

    print('Error 2')

except:

    print('Error 3')

Error 2

In [11]:
# Ruta a la carpeta con los archivos
carpeta = '../../../../2023/Obligaciones_Especificas/OE_2_ImplemCriteriosValidacion_EstAutom_Umbrales/DatosEMA_Crudos_Temp/Temp_Max_2m/RawTmax_Unmodified'

# Si la carpeta no existe, imprimir un mensaje
if not os.path.exists(carpeta):
    print(f"La carpeta '{carpeta}' no existe. Por favor, verificar la ruta.")

# Obtener la lista de todos los archivos en la carpeta
todos_los_archivos = os.listdir(carpeta)

# Filtrar los archivos que sigan el patrón 'Estacion_XXXXXXXXX.csv'
archivos = [f for f in todos_los_archivos if f.startswith('Estacion_') and len(f) == 23 and f[9:19].isdigit() and f.endswith('.csv')]

# Extraer los 10 últimos dígitos de cada nombre de archivo
componentes_numericos = [f[9:19] for f in archivos]

# Imprimir la lista resultante
print(componentes_numericos)

['0011030010', '0011035030', '0011045010', '0011050020', '0011080010', '0011105020', '0011115020', '0011120040', '0011135030', '0011159010', '0011175000', '0012015060', '0012015100', '0012015110', '0012025040', '0012045020', '0013035501', '0013055040', '0013085030', '0013085050', '0014015010', '0014015020', '0014015080', '0015015050', '0015015060', '0015015100', '0015015120', '0015035020', '0015065040', '0015065180', '0015065190', '0015065501', '0015075150', '0015075501', '0015079010', '0015085030', '0015085050', '0016015110', '0016015120', '0016015130', '0016015501', '0016025040', '0016035010', '0016035030', '0016040050', '0016055120', '0017015010', '0017025020', '0017035010', '0021015030', '0021015040', '0021015050', '0021015060', '0021015070', '0021025030', '0021035040', '0021045010', '0021050060', '0021050090', '0021055070', '0021065040', '0021095010', '0021105030', '0021105040', '0021105050', '0021115010', '0021115100', '0021115170', '0021115180', '0021125010', '0021130050', '0021135020', '0021140120', '0021145080', '0021185030', '0021185080', '0021185090', '0021195120', '0021195160', '0021195170', '0021195190', '0021197430', '0021205012', '0021205660', '0021205670', '0021205710', '0021205791', '0021205910', '0021205940', '0021205970', '0021206280', '0021206600', '0021206790', '0021206920', '0021206930', '0021206940', '0021206950', '0021206960', '0021206980', '0021206990', '0021215150', '0021215160', '0021215180', '0021215190', '0021235030', '0021255090', '0021255160', '0021255170', '0022020020', '0022025040', '0022045010', '0022055020', '0022065040', '0022070030', '0022075050', '0023020080', '0023025040', '0023035030', '0023065110', '0023065120', '0023065180', '0023065190', '0023067020', '0023085080', '0023085260', '0023085270', '0023097030', '0023105060', '0023105070', '0023115010', '0023125140', '0023125160', '0023125170', '0023155030', '0023180070', '0023190130', '0023190700', '0023195040', '0023195090', '0023195110', '0023195190', '0023195200', '0023195230', '0023195240', '0023195502', '0023205050', '0024015110', '0024015300', '0024015380', '0024015513', '0024025030', '0024025050', '0024025090', '0024030350', '0024030680', '0024030950', '0024035250', '0024035340', '0024035360', '0024035370', '0024035380', '0024035390', '0024035410', '0024035430', '0024035440', '0024055070', '0024055080', '0025010010', '0025015020', '0025025000', '0025025002', '0025025030', '0025025100', '0025025190', '0025025240', '0025025280', '0025025330', '0025025340', '0025025350', '0025025360', '0025025380', '0025027720', '0026015010', '0026015030', '0026015040', '0026015050', '0026035090', '0026035100', '0026055100', '0026055110', '0026055120', '0026075120', '0026075150', '0026085160', '0026085170', '0026095320', '0026105240', '0026105250', '0026115090', '0026125061', '0026125290', '0026125300', '0026125710', '0026125720', '0026125740', '0026125760', '0026135290', '0026135300', '0026135310', '0026135320', '0026135330', '0026145090', '0026155110', '0026155150', '0026155170', '0026155220', '0026155230', '0026155240', '0026155250', '0026155260', '0026155270', '0026157170', '0026157190', '0026180180', '0026180250', '0026185030', '0026185050', '0026225060', '0026255030', '0027015280', '0027015290', '0027015300', '0027015310', '0027015320', '0027015330', '0028015070', '0028015110', '0028025090', '0028025120', '0028025130', '0028025502', '0028035060', '0028035070', '0029004520', '0029015000', '0029015040', '0029035000', '0029035080', '0029035200', '0029045000', '0029045110', '0029045150', '0029045180', '0029045190', '0029065000', '0029065120', '0029065130', '0029065140', '0031095030', '0032105080', '0033035010', '0035017020', '0035020300', '0035025080', '0035025090', '0035025110', '0035027510', '0035035100', '0035035110', '0035035130', '0035060210', '0035075040', '0035075070', '0035075080', '0035080050', '0035085060', '0035085070', '0035085080', '0035095110', '0035095120', '0035095130', '0035105050', '0035165000', '0035185010', '0035195020', '0035195050', '0035195060', '0035215020', '0035215030', '0035225030', '0035235010', '0035235040', '0035235050', '0035237040', '0035260050', '0036015020', '0037015030', '0037045010', '0044015060', '0044015070', '0044035040', '0044035050', '0044055010', '0046015030', '0046035010', '0047015100', '0047035030', '0048015010', '0048015040', '0048015050', '0051025060', '0051025080', '0051025090', '0051035020', '0052015050', '0052020070', '0052025080', '0052025090', '0052035040', '0052040050', '0052045080', '0052050060', '0052050080', '0052050090', '0052055090', '0052055150', '0052055160', '0052055170', '0052055210', '0052055220', '0052055230', '0053045040', '0053075020', '0054010010', '0054015010', '0054015020', '0054017040', '0054020020', '0054020090', '0054025010', '0054050010', '0054077210', '0055015010', '0055015020', '0056010040', '0056015010', '0056015040', '0056019010', '0056125730', '0057015010', '0057025020', '1111500036', '1117500060', '1206500136', '1303500074', '1303500129', '1501500054', '1508500053', '1509500118', '1602500044', '1602500063', '1602500110', '2119500111', '2120500050', '2120500135', '2120700162', '2121500042', '2121500048', '2201500047', '2202500051', '2302500037', '2302500064', '2305500055', '2306500106', '2308500068', '2308500071', '2319500043', '2319500125', '2319500137', '2401500040', '2401500052', '2401500080', '2401500086', '2403000117', '2403500041', '2403500081', '2403500082', '2403500083', '2403500084', '2403500085', '2501500120', '2603500127', '2604500039', '2604500134', '2610500131', '2612500038', '2612500124', '2612500130', '2612500210', '2612500211', '2612500212', '2612500213', '2612500214', '2612500215', '2613500126', '2614500112', '2614500116', '2615500122', '2621500070', '2702500107', '2801500078', '2802500079', '2804500076', '2805500075', '2901500072', '2906500077', '3206500045', '3206500058', '3206500059', '3502500135', '3503500062', '3505500061', '3507500046', '3507500133', '3518500127', '3526500201', '3701500114', '3701500117', '3702500113', '3706500109', '5102500128', '5202500132', '5205500123', '5311500056', '5311500121']

In [4]:
EMAHRcod = pd.DataFrame(componentes_numericos,columns=['Station'])
EMAHRcod

        Station
0    0011025501
1    0011030010
2    0011035030
3    0011045010
4    0011050020
..          ...
615  5205500123
616  5311500056
617  5311500121
618  5311500147
619  5311500149

[620 rows x 1 columns]

In [5]:
EMAHRcod['Station'] = EMAHRcod['Station'].astype('int64')

In [6]:
EMAHRcod.dtypes

Station    int64
dtype: object

In [7]:
#dfsttnallinfo = pd.read_csv('stations_all.csv')
#dfsttnallinfo
CNE_All = pd.read_excel('../1_PresionAtmosferica/CNE_All_2024_07.xlsx')

In [8]:
CNE_All.rename(columns={'CODIGO':'Station','LATITUD':'lat','LONGITUD':'long', 'ENTIDAD':'entidad'}, inplace=True)

In [9]:
# Se unen ambos dataframe para obtener la información de coordenadas
dfsttninfo_EMAHR_Lctn = pd.merge(EMAHRcod, CNE_All[['Station','lat','long','entidad']], on='Station', how='left')
dfsttninfo_EMAHR_Lctn

,Station,lat,long,entidad
0,11025501,5.888719,-76.145167,CENTRO NACIONAL DE INVESTIGACIONES DE CAFE
1,11030010,5.380000,-76.610000,INSTITUTO DE HIDROLOGIA METEOROLOGIA Y ESTUDIO...
2,11035030,5.284828,-76.627822,INSTITUTO DE HIDROLOGIA METEOROLOGIA Y ESTUDIO...
3,11045010,5.690556,-76.643778,INSTITUTO DE HIDROLOGIA METEOROLOGIA Y ESTUDIO...
4,11050020,5.994722,-76.780028,INSTITUTO DE HIDROLOGIA METEOROLOGIA Y ESTUDIO...
...,...,...,...,...
615,5205500123,1.054806,-77.270250,INSTITUTO DE HIDROLOGIA METEOROLOGIA Y ESTUDIO...
616,5311500056,3.848308,-76.987017,INSTITUTO DE HIDROLOGIA METEOROLOGIA Y ESTUDIO...
617,5311500121,3.645194,-76.564750,INSTITUTO DE HIDROLOGIA METEOROLOGIA Y ESTUDIO...
618,5311500147,3.890083,-77.070331,INSTITUTO DE HIDROLOGIA METEOROLOGIA Y ESTUDIO...
619,5311500149,3.884194,-77.049381,INSTITUTO DE HIDROLOGIA METEOROLOGIA Y ESTUDIO...

In [10]:
dfsttninfo_EMAHR_Lctn.shape

(620, 4)

In [11]:
dfsttninfo_EMAHR_Lctn.head(2)

,Station,lat,long,entidad
0,11025501,5.888719,-76.145167,CENTRO NACIONAL DE INVESTIGACIONES DE CAFE
1,11030010,5.380000,-76.610000,INSTITUTO DE HIDROLOGIA METEOROLOGIA Y ESTUDIO...

In [12]:
dfsttninfo_EMAHR_Lctn[dfsttninfo_EMAHR_Lctn.duplicated(subset=['Station'])]

Empty DataFrame
Columns: [Station, lat, long, entidad]
Index: []

In [25]:
filtro = dfsttninfo_EMAHR_Lctn['lat'].isna()

In [26]:
dfsttninfo_EMAHR_Lctn[filtro]

Empty DataFrame
Columns: [lat, long, entidad]
Index: []

In [16]:
dfsttnallinfo.set_index('Station', inplace=True)

In [22]:
dfsttninfo_EMAHR_Lctn.set_index('Station',inplace=True)

In [23]:
dfsttnallinfo_sbst = dfsttnallinfo[['lat', 'long']]
dfsttninfo_EMAHR_Lctn[['lat', 'long']] = dfsttninfo_EMAHR_Lctn[['lat', 'long']].fillna(dfsttnallinfo_sbst)

In [24]:
dfsttninfo_EMAHR_Lctn[dfsttninfo_EMAHR_Lctn.duplicated()]

,lat,long,entidad
Station,,,
21205514,4.469316,-74.079454,CAR - CORPORACION AUTONOMA REGIONAL DE CUNDINA...
21205523,4.788157,-74.050059,CAR - CORPORACION AUTONOMA REGIONAL DE CUNDINA...
21206790,5.090500,-73.881250,INSTITUTO DE HIDROLOGIA METEOROLOGIA Y ESTUDIO...
25025350,9.316389,-75.387500,INSTITUTO DE HIDROLOGIA METEOROLOGIA Y ESTUDIO...

In [27]:
dfsttninfo_EMAHR_Lctn.reset_index(inplace=True)

In [ ]:
dfsttninfo_EMAHR_Lctn[filtro]

In [29]:
dfsttninfo_EMAHR_Lctn.shape

(620, 4)

In [30]:
dfsttninfo_EMAHR_Lctn.to_excel('EMA_HR_coord.xlsx')

____

## Unir coords, freq, Ent con alturas, regiones naturales y regiones pluviométricas homogéneas (ACP)

In [2]:
freqInstData = pd.read_csv('EMAHR_LatLonEntFreq2.csv', encoding='latin-1')

In [26]:
freqInstData['entidad'].unique()

array(['CENTRO NACIONAL DE INVESTIGACIONES DE CAFE', 'IDEAM', 'INVEMAR',
       'INSTITUTO DE INVESTIGACIONES MARINAS Y COSTERAS JOSE BENITO VIVES DE ANDREIS',
       'CAR - CORPORACION AUTONOMA REGIONAL DE CUNDINAMARCA',
       'FONDO DE PREVENCION Y ATENCION DE DESASTRES DE BOGOTA DC - FOPAE',
       'ESTACIONES PARTICULARES',
       'EMPRESA DE ACUEDUCTO Y ALCANTARILLADO DE BOGOTA E.S.P',
       'ISAGEN  S.A. E.S.P', 'CORPORACION REGIONAL DEL QUINDIO',
       'INSTITUTO DISTRITAL DE GESTIÓN DE RIESGOS Y CAMBIO CLIMÁTICO'],
      dtype=object)

In [22]:
AltRegs= pd.read_table('EMAHR_GeoInfo_Replaceable.txt', encoding='latin-1', sep=';')

In [4]:
freqInstData.head(2)

,Unnamed: 0,Station,lat,long,entidad,FreqInf
0,0,11025501,5.888719,-76.145167,CENTRO NACIONAL DE INVESTIGACIONES DE CAFE,5T
1,1,11030010,5.380000,-76.610000,IDEAM,H

In [23]:
AltRegs['RegsNat'].unique()

array(['Andina', 'PacÃ\xadfico', 'Caribe', 'OrinoquÃ\xada',
       'AmazonÃ\xada', 'Insular'], dtype=object)

In [19]:
AltRegs.head(3)

,OBJECTID,F1,Station,lat,long_,entidad,RASTERVALU,RegsNat
0,1,0,11025501,5.888719,-76.145167,CENTRO NACIONAL DE INVESTIGACIONES DE CAFE,1649,Andina
1,2,1,11030010,5.380000,-76.610000,IDEAM,92,Pacífico
2,3,2,11035030,5.284828,-76.627822,IDEAM,102,Pacífico

In [20]:
dfMoreInfo = pd.merge(freqInstData, AltRegs[['Station','RASTERVALU','RegsNat']], on='Station', how='left')
dfMoreInfo.head(2)

,Unnamed: 0,Station,lat,long,entidad,FreqInf,RASTERVALU,RegsNat
0,0,11025501,5.888719,-76.145167,CENTRO NACIONAL DE INVESTIGACIONES DE CAFE,5T,1649.0,Andina
1,1,11030010,5.380000,-76.610000,IDEAM,H,92.0,Pacífico

In [27]:
dfMoreInfo.to_csv('EMAHR_Allinfo_Replcbl.csv', index=False,encoding='latin-1')

Se une la información de RP-ACP

In [2]:
dfAllInf = pd.read_csv('EMAHR_Allinfo_Replcbl.csv', encoding='latin-1', sep=';')
dfAllInf

,Unnamed: 0,Station,lat,long,entidad,FreqInf,Observ,RASTERVALU,RegsNat
0,0,11025501,5.888719,-76.145167,CENICAFE,5T,NaN,1649.0,Andina
1,1,11030010,5.380000,-76.610000,IDEAM,H,NaN,92.0,Pacífico
2,2,11035030,5.284828,-76.627822,IDEAM,H,NaN,102.0,Pacífico
3,3,11045010,5.690556,-76.643778,IDEAM,H,NaN,53.0,Pacífico
4,4,11050020,5.994722,-76.780028,IDEAM,H,NaN,25.0,Pacífico
...,...,...,...,...,...,...,...,...,...
615,615,5205500123,1.054806,-77.270250,IDEAM,H,NaN,2966.0,Andina
616,616,5311500056,3.848308,-76.987017,IDEAM,H,NaN,27.0,Pacífico
617,617,5311500121,3.645194,-76.564750,IDEAM,H,NaN,1637.0,Andina
618,618,5311500147,3.890083,-77.070331,IDEAM,NaN,NaN,6.0,Pacífico
619,619,5311500149,3.884194,-77.049381,IDEAM,NaN,NaN,9.0,Pacífico

In [24]:
RP_ACP = pd.read_table('EMAHR_Alt_RN-RPacp.txt', encoding='latin-1', sep=';')
RP_ACP

,OBJECTID,Station,lat,long_,entidad,RASTERVALU,RegsNat,NOMZH,ID_REG,LimSup
0,1,11025501,5.888719,-76.145167,CENTRO NACIONAL DE INVESTIGACIONES DE CAFE,1649,Andina,Medio Magdalena,11,313.95
1,2,11030010,5.380000,-76.610000,IDEAM,92,PacÃ­fico,PacÃ­fico - Directos,10,378.35
2,3,11035030,5.284828,-76.627822,IDEAM,102,PacÃ­fico,PacÃ­fico - Directos,10,378.35
3,4,11045010,5.690556,-76.643778,IDEAM,53,PacÃ­fico,PacÃ­fico - Directos,10,378.35
4,5,11050020,5.994722,-76.780028,IDEAM,25,PacÃ­fico,PacÃ­fico - Directos,10,378.35
...,...,...,...,...,...,...,...,...,...,...
609,610,5205500123,1.054806,-77.270250,IDEAM,2966,Andina,SaldaÃ±a,21,253.00
610,611,5311500056,3.848308,-76.987017,IDEAM,27,PacÃ­fico,Amarales - Dagua - Directos,16,399.05
611,612,5311500121,3.645194,-76.564750,IDEAM,1637,Andina,SaldaÃ±a,17,230.00
612,613,5311500147,3.890083,-77.070331,IDEAM,6,PacÃ­fico,Amarales - Dagua - Directos,16,399.05
613,614,5311500149,3.884194,-77.049381,IDEAM,9,PacÃ­fico,Amarales - Dagua - Directos,16,399.05

In [25]:
dfwithACP = pd.merge(dfAllInf, RP_ACP[['Station','ID_REG']], on='Station', how='left')
dfwithACP

,Unnamed: 0,Station,lat,long,entidad,FreqInf,Observ,RASTERVALU,RegsNat,ID_REG
0,0,11025501,5.888719,-76.145167,CENICAFE,5T,NaN,1649.0,Andina,11.0
1,1,11030010,5.380000,-76.610000,IDEAM,H,NaN,92.0,Pacífico,10.0
2,2,11035030,5.284828,-76.627822,IDEAM,H,NaN,102.0,Pacífico,10.0
3,3,11045010,5.690556,-76.643778,IDEAM,H,NaN,53.0,Pacífico,10.0
4,4,11050020,5.994722,-76.780028,IDEAM,H,NaN,25.0,Pacífico,10.0
...,...,...,...,...,...,...,...,...,...,...
615,615,5205500123,1.054806,-77.270250,IDEAM,H,NaN,2966.0,Andina,21.0
616,616,5311500056,3.848308,-76.987017,IDEAM,H,NaN,27.0,Pacífico,16.0
617,617,5311500121,3.645194,-76.564750,IDEAM,H,NaN,1637.0,Andina,17.0
618,618,5311500147,3.890083,-77.070331,IDEAM,NaN,NaN,6.0,Pacífico,16.0
619,619,5311500149,3.884194,-77.049381,IDEAM,NaN,NaN,9.0,Pacífico,16.0

In [26]:
dfwithACP.drop(columns={'Unnamed: 0'}, inplace=True)

In [27]:
dfwithACP.rename(columns={'ID_REG':'RP_ACP'}, inplace=True)

In [29]:
dfwithACP.to_csv('EMAHR_Allinfo_Replcble.csv', index=False, encoding='latin-1')

In [30]:
groupsttn = dfwithACP.groupby('RP_ACP')

groupsttn['Station'].count()

RP_ACP
2.0     13
3.0     14
4.0     18
5.0     14
6.0     29
7.0     37
8.0     18
9.0      4
10.0    21
11.0    50
12.0    54
13.0    11
14.0    82
15.0    99
16.0     4
17.0    18
18.0    19
19.0    33
20.0     4
21.0    38
22.0    16
23.0    12
24.0     1
25.0     1
26.0     4
Name: Station, dtype: int64

______

## Cálculo de límites por región natural

In [18]:
def obtener_EstadDescript(archivo):
    try:
        datos = pd.read_csv(archivo, encoding='latin-1', dtype={'Valor': 'float32'})
        datos['Fecha'] = pd.to_datetime(datos['Fecha'], errors='coerce')
        datos = datos[(datos['Valor'] >= 2.0) & (datos['Valor'] <= 100.0)]

        station = datos['Station'].values[0]
        stats = datos['Valor'].agg({
            'minimo': 'min',
            'maximo': 'max',
            'media': 'mean',
            'mediana': 'median',
            'desvest': 'std',
            'varianza': 'var',
            'percentil_97': lambda x: x.quantile(0.97),
            'percentil_3': lambda x: x.quantile(0.03)
        })

        return station, datos['Valor'], stats
    
    except Exception as e:
        print(f"Error con el archivo {archivo}: {e}")
        return None, None, {}

def procesar_archivos(archivos, referencia_df, ruta_carpeta):
    datos_por_region = {}

    for archivo in archivos:
        ruta_archivo = os.path.join(ruta_carpeta, archivo)
        station, valores, stats = obtener_EstadDescript(ruta_archivo)

        if station and valores is not None:
            regnat_match = referencia_df.loc[referencia_df['Station'] == station, 'RegsNat']
            if not regnat_match.empty:
                regnat = regnat_match.values[0]
                if regnat not in datos_por_region:
                    datos_por_region[regnat] = {
                        'Valor': [],
                        'Station': set(),
                    }
                datos_por_region[regnat]['Valor'].extend(valores.tolist())
                datos_por_region[regnat]['Station'].add(str(station))
    
    gc.collect()  # Liberar memoria
    return datos_por_region

def main():
    ruta_carpeta = 'RawUnmodified_HR'
    ruta_referencia = 'EMAHR_Allinfo_Replcble.csv'

    referencia_df = pd.read_csv(ruta_referencia, encoding='latin-1')
    archivos = [f for f in os.listdir(ruta_carpeta) if f.endswith('.csv')]
    
    # Procesar todos los archivos de una vez
    datos_por_region = procesar_archivos(archivos, referencia_df, ruta_carpeta)

    resultados_por_region = []
    
    for regnat, datos in datos_por_region.items():
        valores_series = pd.Series(datos['Valor'])
        stats_region = valores_series.agg({
            'percentil_97': lambda x: x.quantile(0.97),
            'percentil_3': lambda x: x.quantile(0.03),
            'minimo': 'min',
            'maximo': 'max',
            'media': 'mean',
            'mediana': 'median',
            'desvest': 'std',
            'varianza': 'var'
        })

        # Cálculo de límites inferior y superior
        LimInf = stats_region['media'] - 4 * stats_region['desvest']
        LimSup = stats_region['media'] + 4 * stats_region['desvest']

        resultados_por_region.append([
            regnat,
            stats_region['percentil_97'],
            stats_region['percentil_3'],
            ','.join(datos['Station']),
            stats_region['minimo'],
            stats_region['maximo'],
            stats_region['media'],
            stats_region['mediana'],
            stats_region['desvest'],
            stats_region['varianza'],
            LimInf,
            LimSup
        ])

    resultados_df = pd.DataFrame(resultados_por_region, columns=[
        'RegNat', 
        'percentil_97', 
        'percentil_3', 
        'stations', 
        'minimo', 
        'maximo', 
        'media', 
        'mediana', 
        'desvest', 
        'varianza',
        'LimInf',
        'LimSup'
    ])
    
    print(resultados_df)
    resultados_df.to_csv('LimsHR_Estad.csv', index=False, encoding='latin-1')

if __name__ == "__main__":
    main()

Error con el archivo RawUnmodified_HR\Estacion_0021237020.csv: index 0 is out of bounds for axis 0 with size 0
Error con el archivo RawUnmodified_HR\Estacion_0024027070.csv: index 0 is out of bounds for axis 0 with size 0
Error con el archivo RawUnmodified_HR\Estacion_0032067030.csv: index 0 is out of bounds for axis 0 with size 0
Error con el archivo RawUnmodified_HR\Estacion_0054017040.csv: index 0 is out of bounds for axis 0 with size 0
Error con el archivo RawUnmodified_HR\Estacion_2120000099.csv: index 0 is out of bounds for axis 0 with size 0
Error con el archivo RawUnmodified_HR\Estacion_2120000100.csv: index 0 is out of bounds for axis 0 with size 0
      RegNat  percentil_97  percentil_3  \
0     Andina         100.0    41.860001
1   Pacífico         100.0    59.000000
2     Caribe         100.0    38.000000
3        NaN         100.0     8.000000
4  Orinoquía         100.0    40.899656
5   Amazonía         100.0    51.000000
6    Insular         100.0     8.000000

                                            stations  minimo  maximo  \
0  21205518,21205910,21215501,23065502,23025040,2...     2.0   100.0
1  54020090,11135030,54077210,11050020,54025010,1...     2.0   100.0
2  28035070,29045180,15015060,28025090,15065040,2...     2.0   100.0
3  57015010,88112901,17025020,17017001,17035010,1...     2.0   100.0
4  35017020,35025110,35237040,36015501,3706500109...     2.0   100.0
5  44045030,44035050,47035030,3206500059,44035501...     2.0   100.0
6                                           57025020     2.0   100.0

       media    mediana    desvest    varianza     LimInf      LimSup
0  77.867482  81.000000  17.604525  309.919314   7.449381  148.285584
1  86.568306  90.000000  14.358361  206.162534  29.134861  144.001750
2  77.847160  81.000000  18.354946  336.904055   4.427375  151.266946
3  76.474581  83.000000  24.508765  600.679554 -21.560479  174.509640
4  77.542846  80.900002  18.639688  347.437966   2.984094  152.101598
5  83.756420  87.274902  15.558636  242.071154  21.521876  145.990964
6  79.909581  92.000000  29.054269  844.150534 -36.307494  196.126656

## Cálculo de límites por región pluviométrica homogénea - ACP / Límite inferior

In [72]:
# V1 - con lotes
def obtener_EstadDescript(archivo):
    try:
        datos = pd.read_csv(archivo, encoding='latin-1', dtype={'Valor': 'float32'})
        datos['Fecha'] = pd.to_datetime(datos['Fecha'], errors='coerce')
        datos = datos[(datos['Valor'] >= 0.0) & (datos['Valor'] <= 100.0)]

        station = datos['Station'].values[0]
        stats = datos['Valor'].agg({
            'minimo': 'min',
            'maximo': 'max',
            'media': 'mean',
            'mediana': 'median',
            'desvest': 'std',
            'varianza': 'var',
            'percentil_97': lambda x: x.quantile(0.97),
            'percentil_3': lambda x: x.quantile(0.03)
        })

        return station, datos['Valor'], stats
    
    except Exception as e:
        print(f"Error con el archivo {archivo}: {e}")
        return None, None, {}

def procesar_lote(archivos, referencia_df, ruta_carpeta):
    datos_por_region = {}

    for archivo in archivos:
        ruta_archivo = os.path.join(ruta_carpeta, archivo)
        station, valores, stats = obtener_EstadDescript(ruta_archivo)

        if station and valores is not None:
            rp_match = referencia_df.loc[referencia_df['Station'] == station, 'RP_ACP']
            if not rp_match.empty:
                rp = rp_match.values[0]
                if rp not in datos_por_region:
                    datos_por_region[rp] = {
                        'Valor': [],
                        'stations': set(),
                    }
                datos_por_region[rp]['Valor'].extend(valores.tolist())
                datos_por_region[rp]['stations'].add(str(station))
    
    gc.collect()  # Liberar memoria
    return datos_por_region

def main():
    ruta_carpeta = 'RawUnmodified_HR'
    ruta_referencia = 'EMAHR_Allinfo_Replcble.csv'

    referencia_df = pd.read_csv(ruta_referencia, encoding='latin-1')
    archivos = [f for f in os.listdir(ruta_carpeta) if f.endswith('.csv')]
    
    resultados_por_region = []
    lote_size = 50  # Tamaño del lote, ajustar según sea necesario

    for i in range(0, len(archivos), lote_size):
        lote_archivos = archivos[i:i + lote_size]
        datos_por_region = procesar_lote(lote_archivos, referencia_df, ruta_carpeta)

        for rp, datos in datos_por_region.items():
            valores_series = pd.Series(datos['Valor'])
            stats_region = valores_series.agg({
                'percentil_97': lambda x: x.quantile(0.97),
                'percentil_3': lambda x: x.quantile(0.03),
                'minimo': 'min',
                'maximo': 'max',
                'media': 'mean',
                'mediana': 'median',
                'desvest': 'std',
                'varianza': 'var'
            })

            # Cálculo de límites inferior y superior
            LimInf = stats_region['media'] - 4 * stats_region['desvest']
            LimSup = stats_region['media'] + 4 * stats_region['desvest']

            resultados_por_region.append([
                rp,
                stats_region['percentil_97'],
                stats_region['percentil_3'],
                ','.join(datos['stations']),
                stats_region['minimo'],
                stats_region['maximo'],
                stats_region['media'],
                stats_region['mediana'],
                stats_region['desvest'],
                stats_region['varianza'],
                LimInf,
                LimSup
            ])

        # Limpiar datos por región después de cada lote
        del datos_por_region
        gc.collect()  # Liberar memoria

    resultados_df = pd.DataFrame(resultados_por_region, columns=[
        'RP_ACP', 
        'percentil_97', 
        'percentil_3', 
        'stations', 
        'minimo', 
        'maximo', 
        'media', 
        'mediana', 
        'desvest', 
        'varianza',
        'LimInf',
        'LimSup'
        
    ])
    
    print(resultados_df)
    resultados_df.to_csv('LimsHR_sigma_RP-ACP.csv', index=False)

if __name__ == "__main__":
    main()

Error con el archivo RawUnmodified_HR\Estacion_2120000099.csv: index 0 is out of bounds for axis 0 with size 0
Error con el archivo RawUnmodified_HR\Estacion_2120000100.csv: index 0 is out of bounds for axis 0 with size 0
     RP_ACP  percentil_97  percentil_3  \
0      11.0          98.0    54.764017
1      10.0         100.0     0.000000
2       9.0         100.0     0.000000
3       6.0         100.0     0.000000
4       4.0         100.0     0.000000
..      ...           ...          ...
96     15.0         100.0    63.000000
97     13.0         100.0    43.000000
98     21.0         100.0    64.000000
99     16.0         100.0    64.120003
100    17.0         100.0    72.000000

                                              stations     minimo  maximo  \
0                           11115020,11115501,11025501   0.524446   100.0
1    11045010,11175000,11120040,11035030,11050020,1...   0.000000   100.0
2                  11135030,11105020,11159010,11155030   0.000000   100.0
3    13095010,12015100,13055040,12025040,13085050,1...   0.000000   100.0
4                           14015020,14015080,14015010   0.000000   100.0
..                                                 ...        ...     ...
96                                          3507500133  20.000000   100.0
97                               3526500201,3706500109   0.000000   100.0
98                    5205500123,5202500132,5102500128  23.000000   100.0
99                    5311500149,5311500147,5311500056   0.000000   100.0
100                                         5311500121  40.000000   100.0

         media     mediana    desvest     varianza     LimInf      LimSup
0    83.570467   88.291771  12.773589   163.164577  32.476111  134.664823
1    81.638094   97.000000  30.936278   957.053308 -42.107019  205.383207
2    65.230282   82.000000  38.178889  1457.627600 -87.485276  217.945840
3    70.354352   84.000000  33.431033  1117.633985 -63.369781  204.078485
4    79.860380   84.000000  18.664939   348.379938   5.200625  154.520135
..         ...         ...        ...          ...        ...         ...
96   93.544452  100.000000  11.329689   128.361857  48.225695  138.863209
97   82.883393   89.000000  17.459244   304.825201  13.046417  152.720369
98   89.047958   93.000000  11.784310   138.869966  41.910717  136.185198
99   83.816449   86.580002   9.650926    93.140380  45.212743  122.420154
100  92.901358   98.000000   9.100771    82.824037  56.498273  129.304442

[101 rows x 12 columns]

In [7]:
# V2 sin lotes
def obtener_EstadDescript(archivo):
    try:
        datos = pd.read_csv(archivo, encoding='latin-1', dtype={'Valor': 'float32'})
        datos['Fecha'] = pd.to_datetime(datos['Fecha'], errors='coerce')
        datos = datos[(datos['Valor'] >= 5.0) & (datos['Valor'] <= 100.0)]

        station = datos['Station'].values[0]
        stats = datos['Valor'].agg({
            'minimo': 'min',
            'maximo': 'max',
            'media': 'mean',
            'mediana': 'median',
            'desvest': 'std',
            'varianza': 'var',
            'percentil_97': lambda x: x.quantile(0.97),
            'percentil_3': lambda x: x.quantile(0.03)
        })

        return station, datos['Valor'], stats
    
    except Exception as e:
        print(f"Error con el archivo {archivo}: {e}")
        return None, None, {}

def procesar_archivos(archivos, referencia_df, ruta_carpeta):
    datos_por_region = {}

    for archivo in archivos:
        ruta_archivo = os.path.join(ruta_carpeta, archivo)
        station, valores, stats = obtener_EstadDescript(ruta_archivo)

        if station and valores is not None:
            rp_match = referencia_df.loc[referencia_df['Station'] == station, 'RP_ACP']
            if not rp_match.empty:
                rp = rp_match.values[0]
                if rp not in datos_por_region:
                    datos_por_region[rp] = {
                        'Valor': [],
                        'stations': set(),
                    }
                datos_por_region[rp]['Valor'].extend(valores.tolist())
                datos_por_region[rp]['stations'].add(str(station))
    
    gc.collect()  # Liberar memoria
    return datos_por_region

def main():
    ruta_carpeta = 'RawUnmodified_HR'
    ruta_referencia = 'EMAHR_Allinfo_Replcble.csv'

    referencia_df = pd.read_csv(ruta_referencia, encoding='latin-1')
    archivos = [f for f in os.listdir(ruta_carpeta) if f.endswith('.csv')]
    
    # Procesar todos los archivos de una vez
    datos_por_region = procesar_archivos(archivos, referencia_df, ruta_carpeta)

    resultados_por_region = []
    
    for rp, datos in datos_por_region.items():
        valores_series = pd.Series(datos['Valor'])
        stats_region = valores_series.agg({
            'percentil_97': lambda x: x.quantile(0.97),
            'percentil_3': lambda x: x.quantile(0.03),
            'minimo': 'min',
            'maximo': 'max',
            'media': 'mean',
            'mediana': 'median',
            'desvest': 'std',
            'varianza': 'var'
        })

        # Cálculo de límites inferior y superior
        LimInf = stats_region['media'] - 4 * stats_region['desvest']
        LimSup = stats_region['media'] + 4 * stats_region['desvest']

        resultados_por_region.append([
            rp,
            stats_region['percentil_97'],
            stats_region['percentil_3'],
            ','.join(datos['stations']),
            stats_region['minimo'],
            stats_region['maximo'],
            stats_region['media'],
            stats_region['mediana'],
            stats_region['desvest'],
            stats_region['varianza'],
            LimInf,
            LimSup
        ])

    resultados_df = pd.DataFrame(resultados_por_region, columns=[
        'RP_ACP', 
        'percentil_97', 
        'percentil_3', 
        'stations', 
        'minimo', 
        'maximo', 
        'media', 
        'mediana', 
        'desvest', 
        'varianza',
        'LimInf',
        'LimSup'
    ])
    
    print(resultados_df)
    resultados_df.to_csv('LimsHR_sigma_RP-ACP_6.csv', index=False)

if __name__ == "__main__":
    main()

Error con el archivo RawUnmodified_HR\Estacion_0021237020.csv: index 0 is out of bounds for axis 0 with size 0
Error con el archivo RawUnmodified_HR\Estacion_0024027070.csv: index 0 is out of bounds for axis 0 with size 0
Error con el archivo RawUnmodified_HR\Estacion_0032067030.csv: index 0 is out of bounds for axis 0 with size 0
Error con el archivo RawUnmodified_HR\Estacion_0035037100.csv: index 0 is out of bounds for axis 0 with size 0
Error con el archivo RawUnmodified_HR\Estacion_0054017040.csv: index 0 is out of bounds for axis 0 with size 0
Error con el archivo RawUnmodified_HR\Estacion_2120000099.csv: index 0 is out of bounds for axis 0 with size 0
Error con el archivo RawUnmodified_HR\Estacion_2120000100.csv: index 0 is out of bounds for axis 0 with size 0
    RP_ACP  percentil_97  percentil_3  \
0     11.0    100.000000    41.598855
1     10.0    100.000000    59.000000
2      9.0    100.000000    51.000000
3      6.0    100.000000    42.000000
4      4.0    100.000000    45.000000
5      3.0    100.000000    44.806129
6      2.0    100.000000    37.000000
7      8.0    100.000000    47.000000
8      NaN    100.000000    68.000000
9      NaN     96.000000    31.000000
10     NaN    100.000000    74.000000
11     NaN     92.000000     6.000000
12    22.0     99.323458    49.000000
13    19.0     99.000000    41.000000
14    18.0    100.000000    44.000000
15    15.0    100.000000    40.599998
16    12.0    100.000000    42.500000
17    14.0    100.000000    46.206870
18     7.0    100.000000    41.000000
19     5.0    100.000000    37.000000
20    21.0    100.000000    36.282131
21    17.0     99.767775    47.287155
22    25.0    100.000000    50.000000
23    23.0    100.000000    52.597160
24    24.0    100.000000    46.000000
25    13.0    100.000000    41.000000
26    26.0    100.000000    31.000000
27    20.0    100.000000    11.000000
28     NaN    100.000000    33.000000
29     NaN     55.000000    25.900000
30    16.0    100.000000    64.120003

                                             stations     minimo  maximo  \
0   26185050,24025501,27015320,2621500070,24015513...   5.010607   100.0
1   54020090,54077210,11050020,54025010,1117500060...   6.000000   100.0
2                 11155030,11105020,11159010,11135030   6.000000   100.0
3   12015110,23205050,12045020,1303500129,25025270...   6.000000   100.0
4   29045180,29004520,29065000,29045190,14017001,2...   6.000000   100.0
5   15015100,15015060,28035070,1501500054,28025000...   5.002789   100.0
6   1508500053,15065190,15065040,15065180,15065501...   6.000000   100.0
7   16055120,16025501,16035501,16015130,1602500044...   5.813434   100.0
8                                            17015010   9.000000   100.0
9                                            17017001   7.000000   100.0
10                                           17025020  54.000000   100.0
11                                           17035010   6.000000   100.0
12  21015501,44015060,21025030,21015060,21015040,2...   5.047177   100.0
13  2119500111,21115010,22025501,21130050,21115180...   5.000617   100.0
14  21185090,21215501,21185080,2121500048,22075050...   5.023997   100.0
15  21205518,21205910,23065502,23065501,21206280,2...   5.001000   100.0
16  35025110,35027510,21205514,21201580,36015501,3...   5.005000   100.0
17  2612500213,26157170,23025040,23035030,26125000...   5.001851   100.0
18  24035380,2403500083,2403000117,23195190,240353...   5.134215   100.0
19  25025002,28025502,28015070,28025090,25025000,2...   6.000000   100.0
20  52055230,26035090,52055170,52040050,5202500132...   5.044085   100.0
21  53115502,26095320,26065501,2604500039,26055501...   5.014289   100.0
22                                           31095030   7.000000   100.0
23  44035040,44045030,44035050,3206500059,44035501...   5.027925   100.0
24                                           32105080   6.000000   100.0
25  35017020,35225030,35237040,35260050,3706500109...   5.400000   100.0
26                47035030,48015050,48015040,48015010   6.000000   100.0
27                53045040,57025020,51035020,51025090   6.000000   100.0
28                                           57015010   5.200000   100.0
29                                           88112901   5.400000   100.0
30                   5311500147,5311500149,5311500056  34.000000   100.0

        media    mediana    desvest    varianza     LimInf      LimSup
0   78.123541  82.000000  17.743220  314.821853   7.150661  149.096421
1   90.202346  95.000000  13.404969  179.693186  36.582471  143.822221
2   85.197379  89.000000  14.949630  223.491436  25.398859  144.995899
3   82.971724  87.000000  16.877556  284.851893  15.461500  150.481948
4   81.033691  84.000000  15.922942  253.540088  17.341922  144.725460
5   77.965406  79.000000  16.870365  284.609201  10.483948  145.446865
6   73.754065  76.000000  17.518683  306.904240   3.679334  143.828795
7   80.801729  84.000000  16.777964  281.500063  13.689875  147.913584
8   80.730285  80.000000   7.421249   55.074934  51.045290  110.415280
9   76.606233  82.000000  16.838533  283.536190   9.252101  143.960365
10  89.083598  89.000000   7.648024   58.492269  58.491502  119.675693
11  19.339415  12.000000  21.555403  464.635409 -66.882198  105.561028
12  80.670199  84.051163  14.408230  207.597101  23.037277  138.303120
13  74.492328  76.007584  16.180418  261.805922   9.770656  139.213999
14  79.039269  82.537857  16.641326  276.933744  12.473964  145.604575
15  75.882172  78.180000  17.309719  299.626370   6.643296  145.121048
16  79.887857  82.900002  17.323001  300.086377  10.595852  149.179863
17  79.165712  82.057487  16.197199  262.349270  14.376914  143.954509
18  79.547765  83.000000  16.988361  288.604426  11.594319  147.501211
19  74.538200  76.000000  18.755034  351.751312  -0.481938  149.558337
20  77.421590  81.870193  18.826829  354.449479   2.114276  152.728905
21  78.749211  81.647369  15.682630  245.944887  16.018690  141.479731
22  85.524512  92.000000  15.802353  249.714368  22.315099  148.733925
23  83.245620  86.138397  14.620454  213.757681  24.763803  141.727437
24  84.058386  92.000000  17.193304  295.609708  15.285169  152.831603
25  81.308151  88.000000  18.695665  349.527895   6.525490  156.090811
26  87.992548  97.000000  18.027524  324.991635  15.882451  160.102646
27  85.116195  91.000000  19.165699  367.324016   8.453399  161.778991
28  89.295268  92.000000  14.361290  206.246644  31.850109  146.740428
29  42.821340  45.000000   7.857306   61.737260  11.392115   74.250564
30  83.818493  86.580002   9.642237   92.972736  45.249545  122.387442

In [31]:
dfestadRP = pd.read_csv('LimsHR_sigma_RP-ACP_6.csv', sep=';')
dfestadRP.head(2)

,RP_ACP,percentil_97,percentil_3,stations,minimo,maximo,media,mediana,desvest,varianza,LimInf,LimSup
0,2.0,100.0,37.000000,"15,085,000,531,506,500,000,000,000,000,000,000...",6.000000,100,73.754065,76.0,17.518683,306.904240,3.679334,143.828795
1,3.0,100.0,44.806129,"150,151,001,501,506,000,000,000,000,000,000,00...",5.002789,100,77.965406,79.0,16.870365,284.609201,10.483948,145.446865

In [32]:
#dfestadRP[dfestadRP['stations']=='17035010']
dfestadRP[dfestadRP['RP_ACP'].isna()]

,RP_ACP,percentil_97,percentil_3,stations,minimo,maximo,media,mediana,desvest,varianza,LimInf,LimSup
25,NaN,100.0,68.0,17015010,9.0,100,80.730285,80.0,7.421249,55.074934,51.045290,110.415280
26,NaN,96.0,31.0,17017001,7.0,100,76.606233,82.0,16.838533,283.536190,9.252101,143.960364
27,NaN,100.0,74.0,17025020,54.0,100,89.083598,89.0,7.648024,58.492269,58.491502,119.675693
28,NaN,92.0,6.0,17035010,6.0,100,19.339415,12.0,21.555403,464.635409,-66.882198,105.561028
29,NaN,100.0,33.0,57015010,5.2,100,89.295268,92.0,14.361290,206.246644,31.850109,146.740428
30,NaN,55.0,25.9,88112901,5.4,100,42.821340,45.0,7.857306,61.737260,11.392115,74.250564

In [33]:
dfestadRP['RP_ACP'] = dfestadRP['RP_ACP'].fillna(dfestadRP['stations'])

In [34]:
dfestadRP['RP_ACP'] = dfestadRP['RP_ACP'].astype('float32')

In [35]:
# Se lee nuevamente el archivo del join previo que contiene datos de freqs, alt, RN y RP
dfwRP = pd.merge(dfwithACP, dfestadRP[['RP_ACP','LimInf']], on='RP_ACP', how='left')
dfwRP.head(2)

,Station,lat,long,entidad,FreqInf,Observ,RASTERVALU,RegsNat,RP_ACP,LimInf
0,11025501,5.888719,-76.145167,CENICAFE,5T,NaN,1649.0,Andina,11.0,7.150661
1,11030010,5.380000,-76.610000,IDEAM,H,NaN,92.0,Pacífico,10.0,36.582471

In [36]:
dfwRP['Station'].dtype

dtype('int64')

In [37]:
dfwRP['Station'] = dfwRP['Station'].astype('str')

In [38]:
dfwRP['RP_ACP'].value_counts()

RP_ACP
15.0    99
14.0    82
12.0    54
11.0    50
21.0    38
7.0     37
19.0    33
6.0     29
10.0    21
18.0    19
17.0    18
4.0     18
8.0     18
22.0    16
3.0     14
5.0     14
2.0     13
23.0    12
13.0    11
9.0      4
26.0     4
20.0     4
16.0     4
25.0     1
24.0     1
Name: count, dtype: int64

In [39]:
dfwRP[dfwRP['LimInf'].isna()]

,Station,lat,long,entidad,FreqInf,Observ,RASTERVALU,RegsNat,RP_ACP,LimInf
57,17015010,12.587849,-81.701117,IDEAM,H,NaN,NaN,NaN,NaN,NaN
58,17017001,12.599306,-81.689361,INVEMAR,H,NaN,NaN,NaN,NaN,NaN
59,17025020,13.359500,-81.357722,IDEAM,H,NaN,NaN,NaN,NaN,NaN
60,17035010,15.797500,-79.852222,IDEAM,H,NaN,NaN,NaN,NaN,NaN
519,57015010,4.096000,-81.608833,EST_PART,H,NaN,NaN,NaN,NaN,NaN
521,88112901,NaN,NaN,IDEAM,5T,NaN,NaN,NaN,NaN,NaN

Segunda parte del merge, tiene en cuenta los valores de NaN del RP_ACP

In [40]:
dfestadRP = dfestadRP.rename(columns={'stations':'Station'})

In [41]:
# Se lee nuevamente el archivo del join previo que contiene datos de freqs, alt, RN y RP
# Combina df1 y df2 basándose en la columna 'RP_ACP' (o la columna de referencia)
df_combined = dfwRP.merge(dfestadRP[['Station', 'LimInf']], on='Station', how='left', suffixes=('', '_new'))

# Rellena los valores vacíos en df1['LimInf'] con los valores correspondientes en df2['LimInf']
df_combined['LimInf'] = df_combined['LimInf'].combine_first(df_combined['LimInf_new'])

# Elimina la columna '_new' ya que ya fue usada para el relleno
df_combined.drop(columns=['LimInf_new'], inplace=True)

In [42]:
df_combined[df_combined['LimInf'].isna()]

Empty DataFrame
Columns: [Station, lat, long, entidad, FreqInf, Observ, RASTERVALU, RegsNat, RP_ACP, LimInf]
Index: []

In [43]:
df_combined['LimInf'].unique()

array([  7.15066149,  36.58247136,  25.39885909,  15.46150028,
        17.34192196,  10.48394793,   3.67933417,  13.68987482,
        51.04528974,   9.25210146,  58.49150217, -66.88219796,
        23.03727746,   9.7706562 ,  12.47396368,   6.64329611,
        10.59585194,  14.37691386,  11.59431877,  -0.4819376 ,
         2.11427568,  16.01869045,  22.31509932,  24.76380332,
        15.28516932,   6.52548999,  15.88245078,   8.45339943,
        45.24954504,  31.85010926,  11.39211501])

In [44]:
df_combined = df_combined.rename(columns={'LimInf':'LimInfRP'})

In [45]:
df_combined.to_csv('EMAHR_Allinfo_Replcble1.csv', encoding='latin-1')

__________

## Resultados pruebas de persistencias

Se genera un solo archivo que reuna todas las persistencias calculadas

In [13]:
# Se lee carpeta actual
carpeta = os.getcwd()
# Lista los archivos en la carpeta
archivos = os.listdir(carpeta)
dataframes = []

# Procesa los archivos que comienzan con 'cant_persist_'
for archivo in archivos:
    if archivo.startswith('cant_persist_'):
        ruta_archivo = os.path.join(carpeta, archivo)
        
        # Lee el archivo CSV
        df = pd.read_csv(ruta_archivo, encoding='latin-1')
        df = df.drop(columns='Unnamed: 0', errors='ignore')  # Elimina la columna si existe
        
        # Renombra la columna 'Cantidad_0PER0' para incluir el nombre del archivo
        nomb_archivo = archivo[13:15]
        df = df.rename(columns={'Cantidad_0PER0': f'nshifts_{nomb_archivo}'})
        
        # Añade el DataFrame a la lista
        dataframes.append(df)

# Realiza el merge de todos los DataFrames basados en la columna 'Archivo'
# El primer DataFrame será la base para hacer el merge
df1 = dataframes[0]

for df in dataframes[1:]:
    # Para evitar columnas duplicadas, utiliza how='outer'
    merged_df_q = pd.merge(df1, df, on='Archivo', how='outer')
    df1 = merged_df_q

# Revisar df resultante
orden_olumnas = ['Archivo','nshifts_3_','nshifts_4_','nshifts_5_','nshifts_6_','nshifts_7_',
                 'nshifts_8_','nshifts_9_','nshifts_10','nshifts_11','nshifts_12','nshifts_13']
merged_df_q = merged_df_q.reindex(columns=orden_olumnas)
print(merged_df_q.head(2))
merged_df_q.to_csv('cant_persist_allshifts.csv', encoding='latin-1')

                      Archivo  nshifts_3_  nshifts_4_  nshifts_5_  nshifts_6_  \
0  Estacion_0011025501_qc.csv        4694        3100        2196        1657
1  Estacion_0011030010_qc.csv       11968       10225        8502        6831

   nshifts_7_  nshifts_8_  nshifts_9_  nshifts_10  nshifts_11  nshifts_12  \
0        1314        1089         916         778         674         594
1        5232        3786        2616        1777        1221         868

   nshifts_13
0         528
1         652

Unir resultado tabla de persistencias con la que posee frecuencias

In [4]:
freqsEntInfo = pd.read_csv('EMAHR_Allinfo_Replcbl.csv', sep=';', encoding='latin-1')
freqsEntInfo

,Unnamed: 0,Station,lat,long,entidad,FreqInf,Observ,RASTERVALU,RegsNat
0,0,11025501,5.888719,-76.145167,CENICAFE,5T,NaN,1649.0,Andina
1,1,11030010,5.380000,-76.610000,IDEAM,H,NaN,92.0,Pacífico
2,2,11035030,5.284828,-76.627822,IDEAM,H,NaN,102.0,Pacífico
3,3,11045010,5.690556,-76.643778,IDEAM,H,NaN,53.0,Pacífico
4,4,11050020,5.994722,-76.780028,IDEAM,H,NaN,25.0,Pacífico
...,...,...,...,...,...,...,...,...,...
615,615,5205500123,1.054806,-77.270250,IDEAM,H,NaN,2966.0,Andina
616,616,5311500056,3.848308,-76.987017,IDEAM,H,NaN,27.0,Pacífico
617,617,5311500121,3.645194,-76.564750,IDEAM,H,NaN,1637.0,Andina
618,618,5311500147,3.890083,-77.070331,IDEAM,NaN,NaN,6.0,Pacífico
619,619,5311500149,3.884194,-77.049381,IDEAM,NaN,NaN,9.0,Pacífico

In [5]:
PersistInfo = pd.read_csv('cant_persist_allshifts.csv', encoding='latin-1', sep=';')
PersistInfo

,Unnamed: 0,Archivo,nshifts_3_,nshifts_4_,nshifts_5_,nshifts_6_,nshifts_7_,nshifts_8_,nshifts_9_,nshifts_10,nshifts_11,nshifts_12,nshifts_13
0,0,11025501,4694,3100,2196,1657,1314,1089,916,778,674,594,528
1,1,11030010,11968,10225,8502,6831,5232,3786,2616,1777,1221,868,652
2,2,11035030,4895,4197,3518,2871,2276,1746,1298,938,675,494,387
3,3,11045010,5870,4373,3014,2014,1294,808,482,279,178,119,90
4,4,11050020,4674,3878,3099,2371,1711,1167,759,501,346,262,214
...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,615,5205500123,980,560,244,100,39,11,2,0,0,0,0
616,616,5311500056,6673,5300,3951,2761,1795,1095,640,373,216,138,100
617,617,5311500121,4956,3515,2316,1425,805,428,216,121,70,45,34
618,618,5311500147,0,0,0,0,0,0,0,0,0,0,0
619,619,5311500149,0,0,0,0,0,0,0,0,0,0,0

In [6]:
PersistInfo.rename(columns={'Archivo':'Station'},inplace=True)
PersistInfo.head(2)

,Unnamed: 0,Station,nshifts_3_,nshifts_4_,nshifts_5_,nshifts_6_,nshifts_7_,nshifts_8_,nshifts_9_,nshifts_10,nshifts_11,nshifts_12,nshifts_13
0,0,11025501,4694,3100,2196,1657,1314,1089,916,778,674,594,528
1,1,11030010,11968,10225,8502,6831,5232,3786,2616,1777,1221,868,652

In [7]:
persisFreqs = pd.merge(PersistInfo, freqsEntInfo[['Station','FreqInf']], on='Station')
persisFreqs

,Unnamed: 0,Station,nshifts_3_,nshifts_4_,nshifts_5_,nshifts_6_,nshifts_7_,nshifts_8_,nshifts_9_,nshifts_10,nshifts_11,nshifts_12,nshifts_13,FreqInf
0,0,11025501,4694,3100,2196,1657,1314,1089,916,778,674,594,528,5T
1,1,11030010,11968,10225,8502,6831,5232,3786,2616,1777,1221,868,652,H
2,2,11035030,4895,4197,3518,2871,2276,1746,1298,938,675,494,387,H
3,3,11045010,5870,4373,3014,2014,1294,808,482,279,178,119,90,H
4,4,11050020,4674,3878,3099,2371,1711,1167,759,501,346,262,214,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,615,5205500123,980,560,244,100,39,11,2,0,0,0,0,H
616,616,5311500056,6673,5300,3951,2761,1795,1095,640,373,216,138,100,H
617,617,5311500121,4956,3515,2316,1425,805,428,216,121,70,45,34,H
618,618,5311500147,0,0,0,0,0,0,0,0,0,0,0,NaN
619,619,5311500149,0,0,0,0,0,0,0,0,0,0,0,NaN

In [8]:
filt1 = persisFreqs[(persisFreqs['FreqInf'] == 'H')] #& (persisFreqs['nshifts_13'])]

In [9]:
filt1

,Unnamed: 0,Station,nshifts_3_,nshifts_4_,nshifts_5_,nshifts_6_,nshifts_7_,nshifts_8_,nshifts_9_,nshifts_10,nshifts_11,nshifts_12,nshifts_13,FreqInf
1,1,11030010,11968,10225,8502,6831,5232,3786,2616,1777,1221,868,652,H
2,2,11035030,4895,4197,3518,2871,2276,1746,1298,938,675,494,387,H
3,3,11045010,5870,4373,3014,2014,1294,808,482,279,178,119,90,H
4,4,11050020,4674,3878,3099,2371,1711,1167,759,501,346,262,214,H
5,5,11080010,5801,4499,3274,2250,1424,852,487,276,159,97,71,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613,613,5102500128,13116,11605,10125,8674,7248,5856,4574,3503,2630,1950,1469,H
614,614,5202500132,951,699,523,391,285,205,144,101,67,47,35,H
615,615,5205500123,980,560,244,100,39,11,2,0,0,0,0,H
616,616,5311500056,6673,5300,3951,2761,1795,1095,640,373,216,138,100,H
617,617,5311500121,4956,3515,2316,1425,805,428,216,121,70,45,34,H

In [10]:
filt1['nshifts_13'].value_counts().count()

242

In [11]:
filt1['nshifts_13'].sort_values(ascending=False).ravel()

array([37735, 34889, 32212, 23834, 21667, 21602, 20171, 19967, 18801,
       18555, 18427, 17987, 17953, 17334, 16926, 16920, 16193, 16133,
       15806, 14059, 13798, 13686, 12896, 12657, 11961, 11557, 11349,
       11119, 10999, 10868, 10413,  9989,  8936,  8463,  8303,  8154,
        7828,  7799,  7783,  7737,  7625,  7584,  7473,  7120,  6862,
        6852,  6760,  6709,  6641,  6499,  6367,  6138,  6127,  6067,
        6017,  5844,  5643,  5524,  5454,  5405,  5308,  5292,  5165,
        5093,  4983,  4861,  4817,  4740,  4632,  4608,  4394,  4347,
        4299,  4238,  4135,  4073,  3988,  3965,  3861,  3761,  3733,
        3603,  3503,  3462,  3228,  3059,  2967,  2720,  2606,  2558,
        2274,  2261,  2242,  2181,  2117,  2111,  2067,  2021,  1937,
        1916,  1833,  1817,  1778,  1732,  1717,  1716,  1712,  1670,
        1641,  1641,  1594,  1554,  1539,  1533,  1518,  1469,  1332,
        1289,  1276,  1234,  1223,  1202,  1167,  1140,  1120,  1043,
        1000,   997,   949,   882,   851,   839,   836,   772,   761,
         746,   731,   728,   727,   721,   718,   683,   673,   652,
         614,   613,   598,   569,   532,   527,   517,   473,   472,
         468,   467,   464,   391,   387,   377,   357,   345,   333,
         331,   330,   303,   301,   290,   289,   274,   270,   265,
         263,   258,   241,   223,   214,   202,   200,   196,   190,
         183,   181,   178,   171,   157,   148,   145,   140,   139,
         130,   124,   122,   112,   109,   108,   104,   103,   102,
         100,    90,    85,    84,    73,    73,    73,    71,    71,
          66,    66,    65,    64,    64,    59,    57,    55,    54,
          54,    51,    51,    49,    48,    48,    48,    46,    44,
          43,    41,    41,    36,    35,    35,    34,    32,    30,
          30,    28,    27,    27,    27,    25,    25,    20,    19,
          18,    15,    15,    13,    13,    12,    11,    11,     9,
           9,     9,     9,     8,     8,     8,     8,     8,     7,
           7,     7,     7,     6,     6,     6,     6,     6,     5,
           5,     5,     5,     5,     5,     5,     4,     4,     4,
           4,     3,     2,     2,     2,     2,     2,     2,     2,
           2,     2,     1,     1,     1,     1,     1,     1,     1,
           1,     1,     1,     1,     1,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0],
      dtype=int64)

In [12]:
filt1['nshifts_13'].sort_values(ascending=False)

490    37735
55     34889
470    32212
311    23834
357    21667
       ...
450        0
147        0
454        0
146        0
103        0
Name: nshifts_13, Length: 449, dtype: int64

In [13]:
persisFreqs.iloc[357]

Unnamed: 0         357
Station       26157170
nshifts_3_       33767
nshifts_4_       31756
nshifts_5_       30068
nshifts_6_       28596
nshifts_7_       27277
nshifts_8_       26073
nshifts_9_       24997
nshifts_10       24047
nshifts_11       23178
nshifts_12       22384
nshifts_13       21667
FreqInf              H
Name: 357, dtype: object

In [16]:
filt1[filt1['nshifts_13'] == 13]

,Unnamed: 0,Station,nshifts_3_,nshifts_4_,nshifts_5_,nshifts_6_,nshifts_7_,nshifts_8_,nshifts_9_,nshifts_10,nshifts_11,nshifts_12,nshifts_13,FreqInf
208,208,23065505,1167,687,389,212,126,76,51,36,27,19,13,H
612,612,3706500109,1722,1091,692,440,278,179,108,65,39,24,13,H

In [18]:
precipECM_R = pd.read_csv(r'C:\Users\user\Documents\IDEAM\2023\Obligaciones_Especificas\OE_2_ImplemCriteriosValidacion_EstAutom_Umbrales\DatosEMA_Crudos_Precip\1series_prpc_day_raw_melted.csv')

In [19]:
precipECM_R.head(2)

   Unnamed: 0       fecha   Station  Rainfall
0           0  1981-01-01  11010010       0.0
1           1  1981-01-02  11010010       0.0

In [39]:
filtfechas = precipECM_R[(precipECM_R['Station']==37055010)] #& (precipECM_R['fecha']=='2019-01')] # Se cambia para pruebas

In [40]:
filtfechas.set_index('fecha', inplace=True)
filtfechas

            Unnamed: 0   Station  Rainfall
fecha
1981-01-01    18393990  37055010       0.0
1981-01-02    18393991  37055010       0.0
1981-01-03    18393992  37055010       0.0
1981-01-04    18393993  37055010       0.0
1981-01-05    18393994  37055010       0.0
...                ...       ...       ...
2020-12-27    18408595  37055010       NaN
2020-12-28    18408596  37055010       NaN
2020-12-29    18408597  37055010       NaN
2020-12-30    18408598  37055010       NaN
2020-12-31    18408599  37055010       NaN

[14610 rows x 3 columns]

In [49]:
filtfechas['2018-11':'2019-02']['Rainfall'].ravel()

array([ 0. ,  0.2,  0. ,  0. ,  0. ,  0. , 13.4,  1. , 15.3,  0. ,  0. ,
        0. ,  0. ,  0. ,  0. ,  7.1, 16.5,  0.1,  0. ,  0. ,  0. ,  0. ,
        0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
        0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  3.8,  0. ,
        0. ,  0. ,  0. ,  0. ,  0. , 19.9,  0. ,  0. ,  0. ,  0. ,  0. ,
        0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
        0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
        0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
        0. ,  0. ,  0. ,  0. ])

In [54]:
filtfechas['2018-11-01':'2018-11-09']

            Unnamed: 0   Station  Rainfall
fecha
2018-11-01    18407808  37055010       0.0
2018-11-02    18407809  37055010       0.2
2018-11-03    18407810  37055010       0.0
2018-11-04    18407811  37055010       0.0
2018-11-05    18407812  37055010       0.0
2018-11-06    18407813  37055010       0.0
2018-11-07    18407814  37055010      13.4
2018-11-08    18407815  37055010       1.0
2018-11-09    18407816  37055010      15.3

------

In [75]:
filt1['nshifts_6_'].sort_values(ascending=False).ravel()

array([47875, 38329, 36582, 29657, 28965, 28596, 26544, 26106, 25528,
       25466, 23648, 21609, 21084, 19182, 19139, 19045, 18846, 18634,
       18238, 18086, 17632, 17275, 16825, 16457, 16223, 15155, 15147,
       14487, 14281, 13085, 12414, 11953, 11708, 11607, 11435, 10784,
       10715, 10668, 10511, 10102,  9980,  9906,  9778,  9473,  9461,
        9449,  9378,  9352,  9111,  9077,  8909,  8674,  8574,  8420,
        8166,  8037,  7912,  7892,  7785,  7765,  7710,  7507,  7442,
        7413,  6913,  6893,  6831,  6636,  6607,  6535,  6471,  6260,
        5987,  5884,  5643,  5628,  5574,  5556,  5502,  5487,  5366,
        5351,  5325,  5289,  5106,  5019,  4925,  4878,  4712,  4600,
        4597,  4503,  4402,  4364,  4350,  4340,  4280,  4280,  3972,
        3951,  3810,  3742,  3732,  3641,  3514,  3495,  3457,  3450,
        3284,  3271,  3218,  3076,  2992,  2952,  2916,  2871,  2857,
        2844,  2826,  2765,  2761,  2695,  2642,  2595,  2569,  2425,
        2416,  2377,  2371,  2350,  2323,  2309,  2254,  2252,  2250,
        2247,  2220,  2087,  2082,  2020,  2014,  2001,  1968,  1950,
        1842,  1725,  1716,  1656,  1616,  1611,  1607,  1596,  1590,
        1535,  1530,  1530,  1528,  1515,  1486,  1449,  1433,  1425,
        1420,  1356,  1314,  1301,  1233,  1120,  1118,  1113,  1105,
        1099,  1066,  1064,  1048,  1029,  1025,  1021,  1002,   996,
         978,   967,   966,   954,   910,   902,   889,   885,   877,
         876,   841,   816,   807,   806,   775,   746,   739,   732,
         731,   725,   707,   685,   683,   666,   657,   654,   636,
         611,   597,   584,   565,   564,   555,   546,   542,   539,
         533,   518,   516,   501,   487,   468,   466,   451,   451,
         449,   440,   433,   427,   424,   408,   405,   397,   391,
         388,   382,   365,   361,   346,   343,   340,   339,   331,
         331,   330,   321,   319,   318,   314,   314,   307,   303,
         294,   293,   279,   276,   265,   264,   263,   262,   258,
         253,   248,   246,   244,   243,   232,   229,   225,   222,
         214,   212,   211,   209,   209,   208,   202,   199,   193,
         189,   181,   179,   177,   176,   176,   171,   162,   160,
         158,   156,   151,   136,   136,   135,   133,   132,   130,
         127,   126,   122,   119,   118,   118,   117,   116,   115,
         115,   108,   100,   100,    99,    93,    91,    86,    83,
          83,    81,    80,    79,    78,    77,    77,    76,    75,
          73,    72,    72,    72,    72,    66,    64,    62,    61,
          61,    60,    60,    60,    59,    58,    58,    55,    54,
          54,    49,    49,    47,    46,    43,    39,    39,    37,
          36,    36,    33,    33,    33,    32,    31,    30,    30,
          30,    30,    29,    28,    27,    27,    26,    24,    24,
          22,    21,    20,    20,    19,    19,    19,    18,    17,
          17,    14,    14,    14,    12,    12,    12,    12,    11,
          11,    11,    11,    10,    10,     9,     8,     8,     7,
           7,     7,     7,     7,     6,     6,     6,     5,     5,
           5,     5,     4,     4,     4,     3,     3,     3,     3,
           2,     2,     2,     2,     1,     1,     1,     1,     1,
           1,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0,     0,
           0,     0,     0,     0,     0,     0,     0,     0],
      dtype=int64)

In [63]:
filt1[filt1['nshifts_3_'] == 0]

,Unnamed: 0,Station,nshifts_3_,nshifts_4_,nshifts_5_,nshifts_6_,nshifts_7_,nshifts_8_,nshifts_9_,nshifts_10,nshifts_11,nshifts_12,nshifts_13,FreqInf
11,11,11155030,0,0,150,119,94,73,55,42,32,25,19,H
71,71,21045010,0,0,0,0,0,0,0,0,0,0,0,H
82,82,21095010,0,0,0,0,0,0,0,0,0,0,0,H
88,88,21115100,0,0,0,0,0,0,0,0,0,0,0,H
178,178,21255090,0,0,0,0,0,0,0,0,0,0,0,H
192,192,23020080,0,0,0,0,0,0,0,0,0,0,0,H
250,250,24015513,0,0,0,0,0,0,0,0,0,0,0,H
365,365,26185020,0,0,0,0,0,0,0,0,0,0,0,H
402,402,29045180,0,0,0,0,0,0,0,0,0,0,0,H

----

In [87]:
filt2 = persisFreqs[(persisFreqs['FreqInf'] == '5T')]

In [88]:
filt2['nshifts_13'].sort_values(ascending=False).ravel()

array([22799, 10456,  9937,  9162,  8948,  7921,  7756,  7559,  7324,
        6585,  6326,  6188,  6088,  5959,  5949,  5899,  5598,  5491,
        4469,  4368,  4207,  4180,  3904,  3333,  3039,  3012,  2886,
        2722,  2643,  2604,  2446,  2413,  2302,  2293,  2135,  2077,
        2041,  1980,  1862,  1772,  1652,  1636,  1635,  1632,  1557,
        1472,  1326,  1298,  1270,  1181,  1156,  1109,  1103,  1089,
        1066,  1012,  1005,   970,   950,   935,   923,   919,   891,
         891,   831,   759,   722,   714,   712,   694,   681,   680,
         667,   656,   654,   607,   597,   569,   543,   531,   528,
         465,   464,   434,   423,   392,   392,   334,   330,   280,
         260,   230,   162,   136,   123,    74,    31,    30,     7,
           7,     0], dtype=int64)

In [95]:
filt2[filt2['nshifts_13'] == 423]

,Unnamed: 0,Station,nshifts_3_,nshifts_4_,nshifts_5_,nshifts_6_,nshifts_7_,nshifts_8_,nshifts_9_,nshifts_10,nshifts_11,nshifts_12,nshifts_13,FreqInf
194,194,23025501,3288,2050,1419,1075,873,731,633,559,505,460,423,5T

In [82]:
filtfechas2 = precipECM_R[(precipECM_R['Station']==23055501)]

In [84]:
filtfechas2

Empty DataFrame
Columns: [Unnamed: 0, Station, Rainfall]
Index: []

In [83]:
filtfechas2.set_index('fecha', inplace=True)
filtfechas2

Empty DataFrame
Columns: [Unnamed: 0, Station, Rainfall]
Index: []

In [ ]:
filtfechas2['2019-04':'2019-05']['Rainfall'].ravel()